@import '@/styles/_variables.scss';
@import '@/styles/card_variables.scss';

$button-width: 40px;
$margin: $margin-sm + px;

.card-swapper-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: calc($card-width + calc($button-width * 2) + calc($margin * 2));

  &__button--hidden {
    visibility: hidden;
  }
}
