@import '@/styles/_variables.scss';

.change-password {
  &__title.ant-typography {
    margin-bottom: $margin-lg + px;
  }

  &__requirements-text {
    white-space: pre-line;
    text-align: left;
    margin-top: $margin-lg + px;
    display: flex;
  }

  &__button {
    width: $size-md + 2 + rem;
  }
}
